.jumbotron {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.btn {
  color: a4a4a4;
  width: 100%
}

.btnJumbotron {
  color: a4a4a4;
}

.card{
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}

.cardImg{
  flex: 1 350px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}

.footer {
   padding: 15px 32px;
   background-color: #dfdfdf; /* Green */
   margin-bottom: 0px
   color: white;
   margin-top: 50px;
}